 /* цвет текста 
        #212121
         #757575
          #FFFFFF
          #2196F3
          #AFB1B8
           футер бекграунд #2F303A  */
    
:root {
    --primary-text-color: #757575 ;
    --title-text-color : #212121;
    --accent-color :  #2196F3;
    --primery-white-color :  #FFFFFF;
    --primery-bg-color : #2F303A;
    --foot-contacts-color :rgba(255, 255, 255, 0.6);
    --hiro-btn-hover-color : #188CE8;
    --teem-bg-color : #F5F4FA;
    --social-site: #AFB1B8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
:root{
    --main-cucubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {  
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primery-white-color );
    color: var(--primary-text-color);
    }
    
    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
        margin-right: auto;
        margin-left: auto;
    }

    .zero{
        padding-bottom: 0;
        padding-top: 0;
    }

    .container {
        width: 1200px;
        justify-items: start;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .head{
        border-bottom: 1px solid #ECECEC;
    }

    .main-nav {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;

    }

    /* logotype */
    .logo{ 
        display: inline-block;
        margin-right: 93px;

        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .logo .web,
    .foot .web{
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
    }

    .logo .studio{
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color:  var(--title-text-color);
    }

    .studio-foot{
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        color: var(--primery-white-color);
    }

    /*  Site navigation */

    .site-nav {
        display: flex;
    }

    .site-nav .item + .item {
        margin-left: 50px;
    }

    .site-nav.address {
        margin-left: 305px;
    }
    .menu{
        font-weight: 500;
        letter-spacing: 0.02em;

        color: var(--title-text-color);
        
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .menu:hover,
    .menu:focus{
        color: var(--accent-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .site-nav.address .link + .link{
        margin-left: 30px;
    }

    .head .site-nav .item.link{
        display: block;
        position: relative;
        padding: 32px 0;
    }

    .contacts{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        letter-spacing: 0.02em;
        color: var(--primary-text-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .contacts:hover,
    .contacts:focus{
        color: var(--accent-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .icon-mail{
        fill: currentColor;
        margin-right: 10px;
    }

    .menu{
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--title-text-color );
    }

    .link .current{
        color: var(--accent-color);
    }


    .menu.current::after{
        position: absolute;
        left: 0;
        bottom: 0;

        content: '';
        display: block;
        width: 100%;
        height: 4px;

        background: #2196F3;
        border-radius: 2px;
    }

     /* buttons */

    .hiro-btn{
        display: inline-block;
        padding: 10px 32px;

        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        color: var(--primery-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .hiro .hiro-btn :hover,
    .hiro .hiro-btn :focus{
        background-color: var(--hiro-btn-hover-color);  

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

     /* hiro section */

    .hiro{
        display: block;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(
            to left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/Img-bg.jpg);
        object-position: cover;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-color:var(--primery-bg-color);
    }

    .hiro-title{
        display: flexbox;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 696px;


         font-weight: 900;
         font-size: 44px;
         line-height: 1.36;
         letter-spacing: 0.06em;
         text-transform: uppercase;
         color: var(--primery-white-color);
        
    }

    /* features */

    .features {
        display: flex;
        min-width: 270px;
    }

    .features .item {
        width: 270px;
    }

    .features .item+.item{
        margin-left: 30px;
    }

    .features .text-title{
        margin-top: 30px;

        font-weight: bold;
        color: var(--title-text-color);
        text-transform: uppercase;
    }

    .features .item::before{
        content: "";
        display: block ;
        height: 120px;
        width: 270px;
        background: #F5F4FA;
        border-radius: 4px;
    }

    .features .antenna::before{
        content: "";
        display: block ;
        background-image: url(../images/antenna.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .features .clock::before{
        content: "";
        display: block ;
        background-image: url(../images/clock.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .features .chart::before{
        content: "";
        display: block ;
        background-image: url(../images/chart.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .features .astronaut::before{
        content: "";
        display: block ;
        background-image: url(..//images/astronaut.svg);
        background-repeat: no-repeat;
        background-position: center;
    } 

    /* Секцыя чем занимаемся */
    
    .engaged {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .engaged-zero{
        padding-top: 0;
    }

    .engaged .item + .item {
        margin-left: 30px;
    }

    .engaged-thumb{
        position: absolute;
        display: block;
        height: 70px;
        width: 370px;
        
        text-align: center;
        padding: 27px 0;
        font-weight: bold;
        text-transform: uppercase;

        background: rgba(47, 48, 58, 0.8);
        color: var(--primery-white-color);

        transform: translateY(-100%);
    }

    /* our team */

    .team {
        display: flex;
        justify-content: center;
        background:var(--teem-bg-color);
    }

    .team .item .name{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 0px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--title-text-color);
    }

    .team .item .text{
        display: flex;
        justify-content: center;
        margin-top: 10px;

        font-size: 16px;
        line-height: 1.18;

    }


    .team .item{
        background-color: var(--primery-white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

    }

    .team .item + .item {
        margin-left: 30px;
    }

    .social-icon {
        display: flex;
        justify-items: center;
        margin-left: 32px;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .icon-link+.icon-link{
        margin-left: 10px;
    } 

    .icon-link{
        display: flex;
        padding: 12px 12px;
        width: 44px;
        height: 44px;
        color: var(--social-site);
        border: none;
        border-radius: 100%;
        background-color: var(--primery-white-color);

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .icon-link:hover,
    .icon-link:focus{
        background-color: var(--accent-color);
        color: var(--primery-white-color);

        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }


    .icon{
        display: flex;
        fill: currentColor;
        width: 20px;
        height: 20px;
    }

    .section-title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.16; 
        color: var(--title-text-color);
    }

    .spacing.text-title {
        font-size: 18px;
        line-height: 2;
        color: var(--title-text-color );
    } 

    .features .text-title {
        margin-top: 30px;
        margin-bottom: 10px;

        font-size: 14px;
        line-height: 1.14;
        font-weight: bold;
        text-transform: uppercase;
    }

    .team .text-title.name{
        font-weight: 500;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }

    .text{
        margin-top: 0;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 1.71;
        color: var(--primary-text-color);
        letter-spacing: 0.03em;
    }

    /* customers */

    .customers{
        margin-right: -10px;
    }

    .customers .item{
        content: "";
        display: block ;
        display: inline-flex;
        justify-content: start;
        flex-wrap: nowrap;
        height: 92px;
        width: 170px;
        color: var(--social-site);
        background: var(--primery-white-color);
        border: 1px solid var(--social-site);
        fill: var(--social-site);
        border-radius: 4px;

        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .customers .item:hover{
        border: 1px solid var(--accent-color);

        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .customers .item+.item{
        margin-left: 30px;
    }

    .customers-link{
        display: flex;
        justify-content: center;
        height: 92px;
        width: 170px;

        color: currentColor;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .customers-link:hover,
    .customers-link:focus{
        color: var(--accent-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .customers-icon{
        margin-top: 12px;
        fill: currentColor;
    }
    
    /* Footer */

    .foot-container{
        display: flex;
        align-items: baseline;
    }

    .foot-logo {
        margin-bottom: 20px;
    }

    .foot .link{
        margin-top: 9px;
    }

    .foot{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-right: auto;
        margin-left: auto;

        background-color:  var(--primery-bg-color);
    }

    .foot .address{
        margin-top: 20px;
        line-height: 1.71;
    }

    .address .place{
        font-style: normal;
        color: var(--primery-white-color);
    }
    .foot .contact {
        font-style: normal;
        color: var(--foot-contacts-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .foot  .contact:hover,
    .foot  .contact:focus{
        color: var(--primery-white-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .foot .icon-link{
        background-color: rgba(255, 255, 255, 0.1);
    }

    .foot .icon-link:hover,
    .foot .icon-link:focus{
        background-color: var(--accent-color);
    }

    .foot-social-title{
        font-weight: bold;
        line-height: 1.14;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    .foot .social-icon{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .foot .social-icon .icon{
        fill: var(--primery-white-color);
    }

    .foot-social{
        margin-top: 12px;
        margin-left: 70px;
    }

    /* page two */


     /* filters button */

    .btn {
        display: inline-block;
        height: 38px;
        padding: 6px 22px;
        justify-content: center;

        background: #F5F4FA;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.87; 
        cursor: pointer;
        border:  none;
        border-radius: 4px;
    
        transition-property: background, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .button :hover,
    .button :focus {
        color: var(--primery-white-color);
        background-color: var(--accent-color);
        box-sizing: border-box;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        transition-property: background, color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    /* portfolio */

    .portfolio{
        display: flex;
        width: 1360;
        justify-content: center;
        justify-items: start;
        flex-wrap: wrap;
    }

    .portfolio .item{
        display: block;
        background: #FFFFFF;

        transition-property: background, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .portfolio .item +.item{
        margin-left: 30px;
    }

    .portfolio .item:hover{
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
       
        transition-property: background, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--main-cucubic-bezier);
    }

    .portfolio .item:nth-child(4){
        margin-left: 0;
    }

    .portfolio .item:nth-child(7){
        margin-left: 0;
    }

    .portfolio :nth-child(n + 4) {
        margin-top: 30px;
    }

    .portfolio-overlay{
        width: 370px;
        height: 294px;
        position: relative;
        overflow: hidden;
    }
    

    .portfolio-thumb{
        position: absolute;
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 64px 24px;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: rgba(33, 150, 243, 0.9);

        opacity: 0;
        transform: translateY(100%);
        
        transition: transform 250ms var(--main-cucubic-bezier),
        opacity 250ms var(--main-cucubic-bezier);
    }

    .portfolio .item:hover .portfolio-thumb{
        transform: translateY(0);
        opacity: 1;

        transition: transform 250ms var(--main-cucubic-bezier),
        opacity 250ms var(--main-cucubic-bezier);
    }

    .filters.list {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-bottom: 50px;
    }

    .card{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        box-sizing: border-box;
    }
    .card .text-title{
        margin-bottom: 4px;
    }

    .list .button + .button {
        margin-left: 8px;
    }



    .portfolio .item .text{
        font-size: 16px;
        line-height: 1.87;
    }

    .spacing .text-title{
        letter-spacing: 0.06em;
    }

    /*  modal window */

    .backdrop{
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
        top: 0;
        left: 50%;
        
        transform: translateX(-50%);
        transition: opacity 250ms var(--main-cucubic-bezier);
    }

    .backdrop.is-hidden{
        opacity: 0;
        pointer-events: none;

        transform: translateX(50%);
        transition: opacity 250ms var(--main-cucubic-bezier);
    }

    .modal{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 528px;
        height: 581px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }

    .modal-btn{
        position: absolute;
        flex-direction: row-reverse;
        align-items: center;

        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        box-sizing: border-box;
    }

    .modal-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        margin: 0;
        width: 18px;
        height: 18px;
    }
    
